* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
ul,
li,
a {
  text-decoration: none;
  list-style: none;
}
a:hover {
  cursor: pointer;
}

body {
  background-color: #1f2b2d;
  font-family: Arial, Helvetica, sans-serif;
}

header nav {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

header nav span:nth-child(1) {
  padding: 5px 10px;
  border-radius: 2px;
  margin-right: 2em;
  box-shadow: inset 0 0 5px 0 white;
}

header nav span a {
  color: white;
  text-decoration: underline;
}

header nav span a:hover {
  color: rgba(128, 255, 0, 0.664);
}

#home {
  position: relative;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#home::before {
  position: absolute;
  content: "";
  background: url("../img/bg.jpg") no-repeat center center/cover;
  top: 0;
  left: 0;
  min-height: 45vh;
  width: 100%;
  z-index: -1;
}

#home h1 {
  font-family: "Architects Daughter", cursive;
  letter-spacing: 2px;
  font-size: 1.65em;
  text-shadow: 3px -3px 2px chartreuse;
}
#home a {
  margin-top: 10px;
  background-color: chartreuse;
  color: black;
  cursor: pointer;
  font-size: 88%;
  font-style: italic;
  font-family: "Architects Daughter", cursive;
}

main {
  padding: 20px;
  padding-top: 30px;
}

.container {
  margin-bottom: 25px;
  position: relative;

}

.container .imgBox {
  transition: all 0.3s linear;
}
.container .imgBox a img {
  max-width: 100%;
  box-shadow: 0px 0px 5px 0 black;
  border-radius: 5px;
  border: 1px solid whitesmoke;
}

.container .content {
  font-family: "Indie Flower", cursive;
  border-radius: 5px;
  box-shadow: inset 0px 0px 2px 0 white;
  min-width: 100%;
  position: absolute;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 11px;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all 0.4s linear;
  margin: auto;
  left: 0;
  bottom: 3px;
  word-break: break-all;
}
.container:hover .content {
  z-index: inherit;
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  transform: scaleX(0.95);
}
.container:hover .imgBox {
  transform: scaleX(0.95);
}

.container:hover img {
  box-shadow: 0px 0px 10px 3px black;
}

#nav_button {
  padding: 23px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#nav_button a {
  color: black;
  background-color: rgb(217 218 222);
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 black;
  font-family: "Architects Daughter", cursive;
}

#nav_button a:hover {
  box-shadow: inset 0 0 5px 0 black;
}

footer {
  text-align: center;
  background-color: black;
  color: chartreuse;
  padding: 20px;
  position: relative;
  bottom: 0;
}

footer span:nth-child(2) {
  margin-top: 10px;
  display: block;
  padding: 5px;
}

footer span:nth-child(2) a {
  background-color: white;
  color: black;
  border-radius: 2px;
  padding: 4px;
}

footer span:nth-child(2) a:hover {
  background-color: rgba(128, 255, 0, 0.664);
}

@media screen and (min-width: 1270px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  #home {
    min-height: 60vh;
  }
  #home::before {
    min-height: 60vh;
  }
  #home h1 {
    letter-spacing: 4px;
    font-size: 2em;
  }
}
@media screen and (min-width: 900px) and (max-width: 1270px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  #home {
    min-height: 60vh;
  }
  #home::before {
    min-height: 60vh;
  }
  #home h1 {
    letter-spacing: 4px;
    font-size: 2em;
  }

  #home a {
    font-size: inherit;
  }
}

@media screen and (max-width: 320px) {
  header nav {
    font-size: 15px;
  }
  .container .content {
    line-height: 20px;
  }
  .container .content h2 {
    font-size: 1em;
  }
  .container .content p {
    font-size: 0.8em;
  }
}
